div .css-keje6w{
    background-color: #EEEEEE;
    border: 1px solid #DCDCDC;
    padding: 20px 20px  20px 20px;
    padding: 5% 5% 5% 10%;
    border-radius: 10px;

}

div .css-1r6slb0{
        background-color: #EEEEEE;
        border: 1px solid #DCDCDC; /* #900c3f */
        border-radius: 10px;
        padding: 20px 20px 20px 20px;
        text-align: center;
        /* color: green; */

}


.css-3fi9kc.everg990 {
    border: 2px solid #DCDCDC;
}